{% extends 'base.html' %}

{% block title %}
New Post
{% endblock %}

{% block content %}
<h1 class="text-center">Add Post for {{user.get_full_name()}}</h1>
<form action="/users/{{user.id}}/posts/new" method="POST">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <section class="messages">
            {% for msg in messages %}
            <p class="bg-danger text-light p-2">{{msg}}</p>
            {% endfor %}
        </section>
        {% endif %}
    {% endwith %}

    <div class="row">
            <label for="title-form" class="form-label">Title</label>
            <input type="text" name="title-form" class="form-control">
    </div>

    <div class="row">
            <label for="content-form"   class="form-label">Content</label>
            <textarea name="content-form" cols="30" rows="5"></textarea>
    </div>

    
    {% for tag in tags %}
    <div>
        <input type="checkbox" name="{{tag.name}}">
        <label for="{{tag.name}}">{{tag.name}}</label>
    </div>
    {% endfor %}
    

    <a href="/users/{{user.id}}" class="btn btn-info mt-3">Cancel</a>
    <button class="btn btn-success mt-3">Add</button>
</form>
{% endblock %}