{% extends 'base.html' %}

{% block title %}
User Form
{% endblock %}

{% block content %}

<h1>Add A New User</h1>
<form action="/users/new-user" method="POST" class="user-form">
    <div class="row">
        <h4>First Name:</h3>
        <div class="col">
            <input type="text" name="first-name" placeholder="first name">
        </div>
    </div>
    <div class="row">
        <h4>Last Name:</h4>
        <div class="col-sm">
            <input type="text" name="last-name" placeholder="last name">
        </div>
    </div>
    <div class="row">
        <h4>Profile Pic URL:</h4>
        <div class="col-sm">
            <input type="url" name="img-url" placeholder="profile pic"></div>
    </div>
    <button class="btn btn-primary mt-2">Submit User</button>
</form>

<a href="/users">
    <button class="btn btn-secondary mt-5">Return</button>
</a>
{% endblock %}